<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Todo Regist</title>
<link rel="stylesheet" th:href="@{/style/style.css}">
<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
<script>
    $(function() {
        $('#regist').on('click', function() {
            if($('#todo').val().length == 0) {
            alert('Todo 데이터를 입력해주세요.')
        	}        	
        });
    });

    $(function() {
	    $('.deleteBtn').on('click', deleteTodo);
    })    
    function deleteTodo(event) {
        if (confirm("삭제하시겠습니까?")) {
            $(this).parent().parent().remove();
        }
        event.stopImmediatePropagation();
    }
    $(function () {
        $('#choiceBtn').on('click', function () {
            let selectedImportance = $('#importanceCho').val();
            let selectedCategory = $('#categoriesCho').val();

            let hasVisibleRow = false;

            $('#list table tr').each(function (index) {
                if (index === 0) {
                    $(this).show();
                    return;
                }

                let rowImportance = $(this).find('td:nth-child(4)').text();
                let rowCategory = $(this).find('td:nth-child(2)').text();

                if ((selectedImportance === rowImportance || selectedImportance === '') &&
                    (selectedCategory === rowCategory || selectedCategory === '')) {
                    $(this).show();
                    hasVisibleRow = true;
                } else {
                    $(this).hide();
                }
            });

            if (!hasVisibleRow) {
                $('#list table tr:first-child').hide();
            }
        });
    });


</script>
</head>
<body>
    <a th:href="@{/}" class="title">
        <img th:src="@{/img/todolist.png}" alt="todoList">
        <h2>[ Todo List ]</h2>
    </a>
    <br>
    <form th:action="@{/todoList/todoRegist}" method="post">
        <table>
            <tr>
                <th>작성일</th>
                <td>
                    <input type="date" name="regdate" id="regdate">
                </td>
            </tr>
            <tr>
                <th>상태</th>
                <td>
                    <input type="radio" class="status" name="status" value="진행" checked>진행
                    <input type="radio" class="status" name="status" value="지연">지연
                    <input type="radio" class="status" name="status" value="완료">완료
                </td>
            </tr>
            <tr>
                <th>중요도</th>
                <td>
                    <select name="importance" id="importance">
					    <option value="높음">높음</option>
					    <option value="보통">보통</option>
					    <option value="낮음">낮음</option>
					</select>
                </td>
            </tr>
            <tr>
                <th>분류</th>
                <td>
                    <input type="radio" class="categories" name="categories" value="개인">개인
                    <input type="radio" class="categories" name="categories" value="회사" checked>회사
                </td>
            </tr>
            <tr>
                <th>To Do</th>
                <td>
                    <textarea name="todo" id="todo" cols="30" rows="10"></textarea>
                </td>
            </tr>
            <tr>
                <th colspan="2">
                    <input type="submit" id="regist" value="할일 등록">
                    <input type="button" id="cancle" value="취소">
                </th>
            </tr>
        </table>
    </form>
    <h4>(todo 보기)</h4>
    <div id="list">
		<table>
			<th:block th:if="${list != null and list.size() > 0}">
			<label>
				<span>중요도 : </span>
                <select name="importanceCho" id="importanceCho">
				    <option value="높음">높음</option>
				    <option value="보통">보통</option>
				    <option value="낮음">낮음</option>
				</select>
            </label>
            <label>
				<span>분류 : </span>
                <select name="categoriesCho" id="categoriesCho">
				    <option value="개인">개인</option>
				    <option value="회사">회사</option>
				</select>
            </label>
            <input type="button" id="choiceBtn" value="조회">
			    <tr>
			        <th>날짜</th>
			        <th>분류</th>
			        <th>상태</th>
			        <th>중요도</th>
			        <th>해야 할 일</th>
			        <th>비고</th> 
			    </tr>
			    <th:block th:each="todolist : ${list}">
			        <tr>
			            <td th:text="${todolist.regdate}"></td>
			            <td th:text="${todolist.categories}"></td>
			            <td th:text="${todolist.status}"></td>
			            <td th:text="${todolist.importance}"></td>
			            <td th:text="${todolist.todo}"></td>
			            <td><a th:href="@{/todoList/delete(seqno=${todolist.seqno})}" class="deleteBtn"><input type='button' value="삭제"></a></td>
			            
			        </tr>
			    </th:block>
			</th:block>
		</table>
    </div>
</body>
<script>
    document.getElementById('regdate').value = new Date().toISOString().substring(0, 10);
</script>	
</html>