<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>전화번호 등록</title>
    <script defer th:src="@{/js/main.js}"></script>
</head>
<body>
    <div>
        <a th:href="@{/}">
            <img th:src="@{/images/home.png}" alt="Home">
        </a>
    </div>

    <div>
        <form th:action="@{/phone/regist}" id="sendForm" method="POST">
            <label> 이름:
                <input type="text" name="fname" id="fname" placeholder="이름 입력">
            </label><br>

            <label> 전화번호:
                <input type="text" name="phone" id="phone" placeholder="전화번호 숫자 11자리 입력">
            </label><br>

            <label> 생년월일:
                <input type="date" name="birthday" placeholder="생년월일 선택">
            </label><br>

            <label> 스타일:
                <input type="radio" name="ftype" value="1" checked> 외향적
                <input type="radio" name="ftype" value="0"> 내성적
            </label><br><br>

            <input type="button" id="sendData" value="등록">

        </form>
    </div>
</body>
</html>