<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thymeleaf 문법</title>
</head>
<body>
    <h2>[ Thymeleaf 문법 ]</h2>
    <div>
        <ul>
            <li><a href="./display/text.html" th:href="@{/display/text}">1_텍스트</a></li>
            <li><a th:href="@{/display/condition}">2_조건문과 반복문</a></li>
            <li><a th:href="@{/display/object}">3_객체(Object)</a></li>
            <li><a th:href="@{/display/number}">4_숫자(정수, 실수, 백분율, 통화 등) 출력</a></li>
            <li><a th:href="@{/display/mapData}">5_Map 출력(참고) + 연산자 + Query Parameter</a></li>
        </ul>
    </div>
</body>
</html>