<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>[ Thymeleaf 조건문과 반복문 ]</h2>
    <div>
        <a th:href="@{/}">
            <img th:src="@{/images/home.png}" alt="home">홈으로
        </a>
    </div>

    <h3>1. 반복문(List에 들어 있는 데이터를 반복 출력)</h3>
    <p>개수: [[ ${fruit.size()} ]]</p>
    <ul>
        <li th:each="item : ${fruit}">
            <span th:text="${item}">과일</span>
        </li>
    </ul>
    <h3>2. 반복문(List에 들어 있는 숫자 데이터를 반복 출력)</h3>
    <ul>
        <li th:each="num, status : ${number}">
            <span th:text="${status.count}"></span> :
            <span th:text="${num}"></span>
            <!-- status.count 값이 3의 배수일 때 데이터가 빨간색으로 출력-->
            <span th:if="${status.count % 3 == 0}" th:text="${num}" style="color: red;"></span>
            <span th:unless="${status.count % 3 == 0}" th:text="${num}"></span>
            <!-- <span th:if="${status.count % 3 != 0}" style="color: red;">---------------</span> -->
            <!-- <span th:unless="${status.count % 3 == 0}" style="color: red;">---------------</span>  바로 위의 코드와 같음 -->

        </li>
    </ul>
</body>
</html>