<!DOCTYPE html>
<html lang="ko" xmlns:th ="http://thymeleaf.org"
                xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>카쉐어링</title>
</head>
<body>
    <h2>[카 쉐어링]</h2>
    <!-- 인증되지 않은 사용자 -->
    <th:block sec:authorize="isAnonymous()">
	    <p><a th:href="@{/user/join}">회원가입</a></p>
	    <p><a th:href="@{/user/login}">로그인</a></p>
    </th:block>
    
    
    <!-- 인증된 사용자 -->
    <th:block sec:authorize="isAuthenticated()">
	    <p><a th:href="@{/user/logout}">로그아웃</a></p>
	    <p><a th:href="@{/car/carlist}">차량목록</a></p>
    </th:block>
</body>
</html>