<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Security 적용한 페이지</title>
<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
<link rel="shortcut icon" th:href="@{/favicon.ico}">
<script>
	let lenCheck = false;
	let dupleCheck = false;
	
	$(function(){
		$('#userId').on('keyup', lengthCheck);
		$('#duplicate').on('click', duplicateCheck);  	// 일반버튼 (기능이 없음)
		$('#joinBtn').on('click', join);				// submit(기능이 있음)
	});
	
	// 회원가입
	function join() {
		if(!lenCheck || !dupleCheck) {
			alert('아이디 중복확인을 먼저하세요!')
			return false;   // submit 진행을 중지!
		}
		
		let userPwd = $('#userPwd').val();
		let userName = $('#userName').val();
		
		// 비밀번호 길이 체크 (3~5글자)
		if(userPwd.trim().length < 3 || userPwd.trim().length > 5) {
			alert('비밀번호를 3~5글자 이내로 입력하세요');
			$('#userPwd').focus();
			return false;   // submit 진행을 중지!
		}
		
		// 이름 입력 체크
		if(userName.trim().length < 1 ) {
			alert('이름을 입력하세요');
			$('#userName').focus();
			
			return false;   // submit 진행을 중지!
		}
		
		return true;        // submit 진행 
	}
	
	// 길이체크
	function lengthCheck() {
		let userId = $('#userId').val();
		
		if(userId.trim().length < 3 || userId.trim().length > 5) {
			$('#idCheck').text('아이디를 3~5자 이내로 입력해주세요');
			$('#idCheck').css({'color': 'red', 'font-size': '0.8em'});
			
			lenCheck = false;
			return;
		}
		$('#idCheck').text('');   // 빨간색 글을 지우는 작업
		
		lenCheck = true;
	}
	
	// 중복체크
	function duplicateCheck() {
		if(!lenCheck) return;
		
		let userId = $('#userId').val();
		
		$.ajax({
			url: '/idCheck'
			, method: 'POST'
			, data : {"userId" : userId}
			, success : function(resp) {  // resp는 t(회원가입 가능-아이디가 없다는 뜻) or f만 반환
				alert(resp);
				if(resp) {
					dupleCheck = true;
					$('#idCheck').text('사용가능한 아이디 입니다.');
					$('#idCheck').css({'color': 'blue', 'font-size': '0.8em'});
				} else {
					dupleCheck = false;
					$('#idCheck').text('사용 불가능한 아이디 입니다.');
					$('#idCheck').css({'color': 'red', 'font-size': '0.8em'});
				}
			}
		});
	}
	
</script>
</head>
<body>
	<div>
		<a th:href="@{/}">
			<img th:src="@{/images/logo.png}">
		</a>
		<h2>회원가입</h2>
	</div>
	<div>
		<form th:action="@{/joinProc}" method="POST">
			<label>
				User ID : <input type="text" name="userId" id="userId">
				<input type="button" id="duplicate" value="중복확인">
				<span id="idCheck"></span>
			</label><br>
			
			<label>
				Password : <input type="password" name="userPwd" id="userPwd">
			</label><br>			

			<label>
				User Name: <input type="text" name="userName" id="userName">
			</label><br><br>
			<input type="submit" id="joinBtn" value="회원가입">			
		
		</form>
	</div>
	
</body>
</html>