<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Security 적용한 페이지</title>
<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
<script>
	$(function() {
		$('#loginBtn').on('click', login);
	});
	// 로그인
	function login() {
		let userPwd = $('#userPwd').val();
		let userId = $('#userId').val();
		
		if(userId.trim().length < 3 || userId.trim().length > 5) {
			alert('아이디를 3~5글자 이내로 입력하세요.');
			$('#userId').focus();
			return false;	// submit 진행을 중지
		}
	
		// 비밀번호 길이 체크 (3~5글자)
		if(userPwd.trim().length < 3 || userPwd.trim().length > 5) {
			alert('비밀번호를 3~5글자 이내로 입력하세요.');
			$('#userPwd').focus();
			return false;
		}
		return true;
	}
</script>
</head>
<body>
	<div>
		<a th:href="@{/}">
			<img alt="logo" th:src="@{/images/logo.png}">
		</a>
		<h2>로그인</h2>
	</div>
	<div>
		<form th:action="@{/joinProc}" method="POST">
			<label>
				User ID : <input type="text" name="userId" id="userId">
			</label><br>
			
			<label>
				Password : <input type="password" name="userPwd" id="userPwd">
			</label><br>
			
			<input type="submit" id="loginBtn" value="로그인">
		</form>
	</div>
</body>
</html>